@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

@import "fonts.css";

body {
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #111111;
	letter-spacing: -0.015em;
	line-height: 1.05;
}
